*/*
*.*
*

!.gitignore
!README.md
!neovim-cheets.txt


!/.screenshots/
!/.screenshots/*

!/.doom.d/
!/.doom.d/*

!/.config/
/.config/*
!/.config/fish/
/.config/fish/*
!/.config/fish/conf.d/
!/.config/fish/conf.d/*



.config/fish/conf.d/
.config/nvim/
.config/tmux/
