*/*
*.*
*

!.gitignore
!README.md
!neovim-cheets.txt


!/.screenshots/
!/.screenshots/*

!/.doom.d/
!/.doom.d/*

!/goCode/
/goCode/*
!goCode/Templates/
!goCode/Templates/*


config/fish/conf.d/
.config/nvim/
.config/tmux/
