*

!.gitignore
!README.md
!neovim-cheets.txt


!.screenshots/
!.screenshots/*

!.doom.d/
!.doom.d/*

!.config/
!.config/nvim/
!.config/nvim/*
!.config/nvim/lua/
!.config/nvim/lua/*
!.config/nvim/lua/lsp/
!.config/nvim/lua/lsp/*

!.config/tmux/
!.config/tmux/*

!.config/fish/
!.config/fish/conf.d/
!.config/fish/conf.d/*
